:root {
    --main-color-text: #686868;
    --main-color-title: #2F70D9;
    --main-font-size-text: calc(12px + 4 * (100vw/1230));
    --main-font-size-title: calc(30px + 20 * (100vw/1230));
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans';
}

.header {
    max-width: 1230px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 3%;
    align-items: center;
}

.header__logo {
    width: 160px;
    height: 40px;
    margin-left: 5%;
}

.header__nav ul {
    display: flex;
    gap: 20px;
    align-items: center
}

.navigation-item {
    text-decoration: none;
    display: flex;
    list-style: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #686868;
}

.border {
    font-weight: 600;
    padding: 7px 20px;
    border: 2px solid #2F70D9;
    border-radius: 5px;
}

.navigation-item a {
    text-decoration: none;
    color: var(--main-color-title);
    margin-top: 1%;
    cursor: pointer;
}

.active:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: var(--main-color-title);
    text-decoration-style: wavy;
    color: var(--main-color-title);
}

/* --------------------------------------------------*/

main {
    max-width: 1230px;
    margin: auto;
}

.main-baikal {
    margin: 13% 5% 0 5%;
    display: flex;
    letter-spacing: 0.1em;
}

.main-baikal__conteiner,
.main-about__conteiner-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.conteiner-text__title {
    text-align: end;
}

.conteiner-text__title h1 {
    font-weight: 700;
    font-size: calc(60px + 40 * (100vw / 1230));
    line-height: 60px;
    color: var(--main-color-title);
    font-family: 'Lora';
}

.conteiner-text__title span {
    font-weight: 900;
    color: var(--main-color-text);
    font-size: 24px;
}

.conteiner-text,
.main-about__text {
    max-width: 40%;
}

.main-baikal__conteiner-image,
.main-about__image {
    max-width: 55%;
}

.conteiner-text p {
    font-weight: 400;
    font-size: var(--main-font-size-text);
    line-height: 23px;
    color: var(--main-color-text);
    margin-top: 60px;
}

.conteiner-text__booking {
    padding: 19px 65px;
    background: #D95845;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 8%;
    color: #FFFFFF;
    border: none;
    font-size: 22px;
    line-height: 30px;
    cursor: pointer;
}

/* --------------------------------------------------*/
.main__title {
    font-family: 'Lora';
    font-weight: 700;
    font-size: var(--main-font-size-title);
    line-height: 64px;
    color: var(--main-color-title);
}

.main-about,
.main-we-offer,
.main-our-rooms,
.main-reviews {
    margin: 13% 5% 0 5%;
    letter-spacing: 0.1em;
}

.main-about__text p {
    font-weight: 400;
    font-size: var(--main-font-size-text);
    line-height: 23px;
    color: var(--main-color-text);
}

.main-about__bold-text {
    color: #000000 !important;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 4%;
}

/* --------------------------------------------------*/

.main-we-offer__conteiner-grid {
    margin: 6% 0 0 8%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: 150px;
    grid-row-gap: 50px;
}

.conteiner-grid__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.conteiner-grid__item img {
    width: 75px;
    height: 65px;
}

.conteiner-grid__item span {
    margin-top: 2%;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: var(--main-color-title);
}

.conteiner-grid__item p {
    margin-top: 1%;
    font-weight: 400;
    font-size: var(--main-font-size-text);
    line-height: 20px;
    color: var(--main-color-text);
}

/* --------------------------------------------------*/
.main-our-rooms__conteiner {
    margin-top: 7%;
    display: flex;
    gap: 30px;
    align-items: flex-end;
    justify-content: center;
}

.our-rooms__conteiner-image {
    max-height: 410px;
    max-width: 290px;
}

.our-rooms-conteiner__card {
    max-width: 280px;
    display: flex;
    flex-direction: column;
    border: 3px solid var(--main-color-title);
    border-radius: 20px;
    padding: 40px 30px;
    gap: 30px;
}

.conteiner__card-image {
    height: 110px;
    margin: auto;
}

.card-image-single {
    max-width: 170px;
}

.card-image-double {
    max-width: 230px;
}

.conteiner__card-type-room {
    width: 285px;
    font-family: 'Lora';
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: var(--main-color-title);
}

.our-rooms-conteiner__card ul {
    display: flex;
    flex-direction: column;
    gap: 13px;
    padding-left: 20px;
}

.our-rooms-conteiner__card ul li {
    font-weight: 400;
    font-size: var(--main-font-size-text);
    color: var(--main-color-text);
}

.conteiner__card-price {
    text-align: center;
}

.conteiner__card-price p {
    font-weight: 700;
    font-size: var(--main-font-size-text);
    line-height: 20px;
    color: var(--main-color-title);
}

.conteiner__card-price span {
    margin-top: 1%;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #D95845
}

/* --------------------------------------------------*/
.main-reviews__conteiner {
    margin-top: 7%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.main-reviews-conteiner__card {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    max-width: 210px;
    max-height: 390px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 25px 25px 40px 25px;
}

.conteiner__card-profile-image {
    width: 100px;
    height: 100px;
}

.conteiner__card-username {
    font-weight: 700;
    font-size: var(--main-font-size-text);
    line-height: 20px;
    color: var(--main-color-title);
}

.main-reviews-conteiner__card p {
    font-weight: 400;
    font-size: var(--main-font-size-text);
    line-height: 23px;
    color: var(--main-color-text);
}

/* --------------------------------------------------*/

.main-contacts {
    margin: 8% 4%;
}

.main-contacts-conteiner__card {
    position: absolute;
    z-index: 1;
    background: #FFFFFF;
    max-width: 355px;
    margin: 2%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 31px 48px;
}

.main-contacts-conteiner__card h2 {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: var(--main-font-size-title);
    line-height: 64px;
    color: var(--main-color-title);
}

.main-contacts-conteiner__card-span {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: var(--main-color-text);
}

.contacts-conteiner__card-adress {
    font-weight: 400;
    font-size: var(--main-font-size-text);
    line-height: 23px;
    color: var(--main-color-text);
}

.contacts-conteiner__card-tel {
    font-weight: 400;
    font-size: 26px;
    line-height: 20px;
    color: #000000;
}

.contacts-conteiner__card-media {
    display: inline;
}

.contacts-conteiner__card-media img {
    margin-right: 1%;
}

.main-contacts__conteiner iframe {
    position: relative;
    width: 100%;
    height: 503px;
    border-radius: 20px;
}

/* --------------------------------------------------*/
footer {
    background-color: #282828;
}

.footer {
    padding: 30px 50px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-items: flex-start;
    justify-content: center;
    gap: 110px;
    color: #FFFFFF;
}

.footer__logo {
    max-width: 180px;
}

.footer span {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: var(--main-color-title);
}

.footer__navigation ul {
    margin-top: 2%;
}

.footer-navigation__item {
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    list-style: none;
}

.footer__communication {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__communication button {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    padding: 8px 28px;
    border-radius: 5px;
    cursor: pointer;
}

.footer-communication__booking {
    margin-top: 1%;
    color: #FFFFFF;
    background-color: #D95845;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    border: 2px solid #FFFFFF;
}

.footer-communication__call {
    color: var(--main-color-title);
    background-color: #282828;
    border: 2px solid var(--main-color-title);
}

.footer__contacts-span {
    margin-top: 2%;
}

.footer__contacts-tel {
    margin-top: 1%;
}

.footer__contacts-media img {
    margin-top: 1%;
    width: 30px;
    height: 30px;
}

/* --------------------------------------------------*/
.menu-burger__header-btn {
    display: none;
    position: relative;
    height: 50px;
    width: 50px;
    border: none;
    background-color: transparent;
    z-index: 2;
    left: 5%
}

.menu-burger__header-btn span {
    position: absolute;
    background-color: var(--main-color-title);
    width: 40px;
    height: 3px;
    left: 5px;
    transition: transform .5s, opacity .3s;
}

.menu-burger__header-btn span:nth-child(1) {
    transform: translateY(-10px)
}

.menu-burger__header-btn span:nth-child(3) {
    transform: translateY(10px)
}

.header.open .menu-burger__header-btn span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}

.header.open .menu-burger__header-btn span:nth-child(2) {
    opacity: 0;
}

.header.open .menu-burger__header-btn span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
}

/* --------------------------------------------------*/
.hidden {
    display: none;
}

.hidden__adress {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: var(--main-color-text);
}

.hidden__adress-adress {
    margin-top: 10px;
    font-weight: 400;
    font-size: 12px;
    color: var(--main-color-text);
}

.hidden__tel {
    margin-top: 15px;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}

.hidde__contacts-media img {
    margin-top: 20px;
    width: 40px;
    height: 40px;
}

/* --------------------------------------------------*/

@media(max-width: 1000px) {
    .menu-burger__header-btn {
        display: block;
    }

    .header__nav {
        position: absolute;
        left: -100%;
        top: 0;
        width: 100%;
        height: 100vh;
        padding: 50px 0 20px 0;
        background-color: #FFFFFF;
        transition: transform .5s;
    }

    .header.open .header__nav {
        transform: translateX(100%);
    }

    .header__nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navigation-item {
        color: var(--main-color-text);
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
    }

    .navigation-item:hover {
        color: var(--main-color-title);
        font-weight: 800;
    }
    .header.open .hidden {
        display: block;
    }
    .our-rooms__conteiner-image{
        display: none;
    }
    .main-reviews__conteiner{
        justify-content: center
    }

    .main-contacts__conteiner{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-contacts-conteiner__card{
        position: relative;
    }
    .main-contacts__map{
        width: 100%;
        margin-top: 3%;
    }
    .header__logo{
        margin-right: 5%;
    }
}


@media (max-width: 400px) {
    .main-baikal__conteiner, .main-about__conteiner-text {
        flex-direction: column;  
    }
    .conteiner-text, .main-about__text {
        max-width: 100%;
    }
    .main-baikal__conteiner-image, .main-about__image {
        max-width: 100%;
    }
    .main__title{
        font-size: 30px;
    }
    .main-our-rooms__conteiner{
        margin-left: 5px;
    }
    .our-rooms-conteiner__card{
        max-width: 220px;
    }
    .footer{
        gap: 30px;
        justify-content: flex-start
    }
}